<div class="diary-book-container">
  <div class="diary-hard-cover"></div>
  <div class="diary-main-content">
    <div class="page-decorations">
      <div class="hinges">
        <img src="assets/decorations/hinge.svg" alt="" />
        <img src="assets/decorations/hinge.svg" alt="" />
        <img src="assets/decorations/hinge.svg" alt="" />
        <img src="assets/decorations/hinge.svg" alt="" />
        <img src="assets/decorations/hinge.svg" alt="" />
        <img src="assets/decorations/hinge.svg" alt="" />
        <img src="assets/decorations/hinge.svg" alt="" />
        <img src="assets/decorations/hinge.svg" alt="" />
        <img src="assets/decorations/hinge.svg" alt="" />
      </div>
      <div class="background-image"></div>
    </div>
    <div class="journal-title-container">
      <p class="time">12th January, 2023</p>
      <p class="title">The day I met her, my heart melted...</p>
    </div>
    <div class="writeable-area-container">
      <div class="text-area">
        <div class="book-lines">
          <div class="vertical-line">
            <hr />
          </div>
          <div class="horizontal-lines">
            <hr />
            <hr />
            <hr />
            <hr />
            <hr />
            <hr />
            <hr />
            <hr />
            <hr />
            <hr />
            <hr />
            <hr />
            <hr />
            <hr />
            <hr />
            <hr />
            <hr />
            <hr />
            <hr />
            <hr />
            <hr />
            <hr />
            <hr />
            <hr />
          </div>
        </div>
        <textarea
          #diaryTextarea
          #recorderInput
          id=""
          cols="30"
          spellcheck="false"
          [formControl]="diaryControl"
          (keydown)="onKeyDown($event)"
          (click)="onMouseDown($event)"
          (select)="onDragEnter($event)"></textarea>
      </div>
    </div>
  </div>
</div>
