button {
  border: none;
  background-color: transparent;
  transition: all ease-in-out 0.2s;
  width: 35px;
  height: 35px;
  position: relative;

  img,
  svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 35px;
    height: 35px;
    transition: all ease-in-out 0.2s;
  }

  &:hover {
    img,
    svg {
      filter: invert(0.2);
      width: 30px;
      height: 30px;
    }
  }
}
