.controls {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.speed-control {
  margin-top: 4px;
  font-family: 'Indie Flower', cursive;
  font-weight: 400;
  font-size: 12px;
  text-align: right;
}
