.diary-container {
  display: flex;
  flex: 2;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.title-container {
  flex: 2;
  height: fit-content;
  align-self: center;
  padding-right: 36px;

  display: inline-flex;
  flex-direction: column;
  align-items: end;
}

.right-spacer {
  flex: 1;
}
