:host {
  width: 100dvw;
  height: 100dvh;
  display: block;

  --header-height: 48px;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  height: calc(100dvh - var(--header-height));
  width: 100%;
  align-items: center;

  .dashboard-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: min(900px, 80dvw);
    height: calc(100dvh - var(--header-height));

    .my-stories {
      height: 430px;
      margin-top: 32px;
      position: relative;

      &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 48px;
        top: -4px;
        background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 1) 20%,
          rgba(255, 255, 255, 0) 100%
        );
        z-index: 10;
      }

      &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 42px;
        bottom: -4px;
        background: linear-gradient(
          0deg,
          rgba(255, 255, 255, 1) 20%,
          rgba(255, 255, 255, 0) 100%
        );
        z-index: 10;
      }

      .scroll-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-count: 3;
        gap: 8px;
        height: 100%;
        width: 100%;
        overflow-y: scroll;
        padding: 32px 0px;

        &::-webkit-scrollbar {
          display: none;
        }
        -ms-overflow-style: none;
        scrollbar-width: none;
      }
    }
  }
}

.title {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  .line {
    display: block;
    font-family: 'IM Fell English', serif;
    width: 248px;

    .n-text {
      font-size: 14px;
      line-height: 14px;
    }

    .h-text {
      font-size: 32px;
      line-height: 32px;
    }
  }

  .r-align {
    text-align: right;
  }
  .l-align {
    text-align: left;
  }
}

.leaf {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100dvh;
  width: 100%;
  pointer-events: none;
  z-index: 99;
  overflow: hidden;

  svg {
    offset-path: path(
      'M43 0.5C-10.5 106.667 -56.4 343.4 188 441C493.5 563 832 393.5 726 251C620 108.5 89.5 461.5 487.5 747C885.5 1032.5 618 1173 212.5 1167'
    );
    offset-position: 100px;
    offset-distance: 0%;
    offset-position: -200px 200px;
    pointer-events: none;
    transform: rotate(0deg);
    animation: leaf-fall-1 5s cubic-bezier(0.19, 0.57, 0.8, 0.25) infinite;
  }
}

@keyframes leaf-fall-1 {
  0% {
    offset-distance: 0%;
  }

  20% {
    transform: rotate(10deg);
  }

  80% {
    transform: rotate(10deg);
  }

  100% {
    offset-distance: 100%;
    transform: rotate(-180deg);
  }
}
