<atmah-header></atmah-header>

<div class="dashboard-container">
  <div class="dashboard-content">
    <div class="title">
      <div class="line l-align">
        <span class="n-text">Hi,</span>
        <span class="h-text">Arshith,</span>
        <span class="n-test">here's your</span>
      </div>

      <div class="line r-align">
        <span class="h-text">Atmah Diary</span>
      </div>

      <div class="line r-align">
        <span class="n-text">where you soul speaks</span>
      </div>
    </div>
    <div class="my-stories">
      <div class="scroll-container">
        <atmah-story-card></atmah-story-card>
        <atmah-story-card></atmah-story-card>
        <atmah-story-card></atmah-story-card>

        <atmah-story-card></atmah-story-card>
        <atmah-story-card></atmah-story-card>
        <atmah-story-card></atmah-story-card>

        <atmah-story-card></atmah-story-card>
        <atmah-story-card></atmah-story-card>
        <atmah-story-card></atmah-story-card>

        <atmah-story-card></atmah-story-card>
        <atmah-story-card></atmah-story-card>
      </div>
    </div>
  </div>
</div>
