@import 'functions';

.decorations {
  position: absolute;
}

.login-container {
  width: 312px;
}
.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title-container {
    text-align: center;
    h4 {
      font-size: toRem(40px);
      line-height: 1em;
    }
    p {
      font-size: toRem(14px);
      line-height: 1em;
    }
  }

  .form-container {
    margin-top: 92px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .login-text {
      font-size: toRem(20px);
    }

    .input-pair {
      display: flex;
      flex-direction: column;

      label {
      }

      .input-container {
        width: 100%;
        svg {
          width: 100%;
        }
      }

      input {
        border: none;
        width: 100%;
        vertical-align: bottom;
        &:focus-visible {
          outline: none;
        }
      }
    }

    .action-container {
      margin-top: 24px;
      text-align: center;
      button {
        position: relative;
        svg {
          position: relative;
        }
        span {
          position: absolute;
          font-size: toRem(20px);
          top: 50%;
          left: 50%;
          transform: translate((-50%, -50%));
        }
      }
    }

    .sec-action-container {
      text-align: center;
    }
  }
}
