@font-face {
  font-family: 'Fell English';
  src: url('/assets/fonts/FellEnglish/IMFellEnglish-Regular.ttf');
}

@font-face {
  font-family: 'Fell English';
  font-style: italic;
  src: url('/assets/fonts/FellEnglish/IMFellEnglish-Italic.ttf');
}

.font-fell-english {
  font-family: 'Fell English';
}
