@import './styles/fonts/index.scss';
@import 'dark/colors.scss';
@import 'light/colors.scss';

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;

  ::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  ::before {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
}

.hidden {
  visibility: hidden;
}
