@tailwind base;
@tailwind components;
@tailwind utilities;

@import './styles/fonts/index';
@import './styles/common/index';
@import 'dark/colors.scss';
@import 'light/colors.scss';

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;

  ::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  ::before {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
}

.hidden {
  visibility: hidden;
}
