@use './styles/fonts/index' as *;
@use './styles/common/index' as *;
@use 'dark/colors.scss' as *;
@use 'light/colors.scss' as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;

  ::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  ::before {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
}

.hidden {
  visibility: hidden;
}
