<div class="input-pair primary-font">
  <label [for]="id"><ng-content></ng-content></label>
  <div class="input-container">
    <input [type]="type" [name]="name" [id]="id" [placeholder]="placeholder" />
    <svg
      preserveAspectRatio="none"
      vector-effect="non-scaling-stroke"
      width="316"
      height="3"
      viewBox="0 0 316 3"
      fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path
        vector-effect="non-scaling-stroke"
        d="M1 1.55796C1 1.55796 55.6729 0.302545 94.8306 1.55796C133.988 2.81338 235.207 0.930254 247.028 1.55796C258.849 2.18567 315 1.55796 315 1.55796"
        stroke="black"
        stroke-width="2" />
    </svg>
  </div>
</div>
